
form input {
    margin-right: 10px;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.userImage {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}

.omniaLogo img {
    max-height: 40px;
    margin-right: 10px;
}

.omniaLogo span {
    vertical-align: bottom;
}

